body {
    background-color: #e6e6e6;
    font-family: 'Open Sans', sans-serif;
}

#cartao {
    background-color: #ffffff;
    border-radius: 2px;
    margin: 10px;
    margin-top: 17px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#local {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 10px;
}

#data {
    color: #999999;
    text-transform: uppercase;
    font-size: 11px;    
    font-weight: 300;
    padding: 10px;
}

h2 {
    color: #b5000d;
    padding: 10px;
    margin-top: -10px;
    margin-bottom: -10px;
    font-size: 18px;
}

p {
    padding: 10px;
    color: #333333;
    font-size: 16px;
    margin-top: -10px;
    margin-bottom: -10px;
}

img {
    display: block;
}

a {
    text-decoration: none;
}