body {
    background-color: #9b9b9b;
    padding: 45px;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 13px;
    font-weight: 400;
}

table {
    background-color: #fff;
    width: 100%;
    border-spacing: 0;
    border-radius: 0px 0px 3px 3px;
    box-shadow: 0px 2px 5px #666;
}

table caption {
    background-color: #fff;
    text-align: left;
    padding: 20px;
    font-weight: 500;
    font-size: 20px;
        border-radius: 3px 3px 0px 0px;
    box-shadow: 0px -1px 3px #666;
}

table thead th {
    text-align: left;
    font-size: 14px;
    font-weight: 500;
}

table td, th {
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding: 20px;
}

tbody td:first-child {
    text-align: center;
}

thead th:first-child {
    text-align: center;
}

tbody tr:hover {
    background-color: #eeeeee;
}

tfoot {
    text-align: right;
    font-size: 12px;
    opacity: 0.5;
}

tfoot td {
    padding-right: 40px;
}

tfoot td span {
    margin-right: 20px;
    margin-left: 20px;
}

tfoot td img {
    margin-left: 20px;
}

select {
    border: none;
    border-right-color: transparent;
}
